.dext-off {
  display: none;
}
.dext-hide {
  position: fixed;
  visibility: hidden;
}
.dext-after {
  display: none;
}

.dext-sentence {
  clear: both;
  display: none;
  float: left;
  font-size: 3em;
  margin: 0.5em 0.25em 0.5em 0.33em;
  padding: 0;
}
.dext-sentence span {
  border: 1px solid #FFF;
  border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  float: left;
  margin: 0 0.1em 0.2em 0;
  padding: 0 0.1em;
  text-align: center;
  width: 100%;
}
.dext-sentence a, 
.dext-sentence ol, 
.dext-sentence ul, 
.dext-sentence li {
  border: 0;
  margin: 0;
  padding: 0;
}

.dext-info {
  border-top: 1px dotted #999; 
  clear: both; 
  color: #999;
  font-size: 0.29em;
  margin: 0; 
  padding: 1em 0 0.5em 0;
  text-align: center;
  white-space: nowrap;
  width: 3em;
}

